/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
}
.raleway{
    font-family: "Raleway", sans-serif;
}
/* common elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.gray{
    color:#252432;
}
.btn{
    background-color: #4E47FF;
    color:white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
/* Home */
.home{
    background-image: url("../Assets/Hero-bg.png");
    height: 700px;
}
/* navigation */
.nav{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bolder;
    color: #4E47FF;
    font-size: 34px;


}
/* Hero area */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero-title{
    margin:158px 301px 37px;
    font-size: 65px;
    text-align: center;
}

/* Action section */
.action{
    display: flex;
    justify-content: space-between;
    margin: 116px 200px;
    align-items: center;
}
.action-text{
    max-width: 517px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}

.action-description{
    margin: 23px 0;
    font-size: 24px;
}
.action-image{
    border-radius: 48px;
}
/* Stats section */
.statistics{
    margin: 126px 140px;
    border-radius: 10px;
    background-color: hsla(242, 100%, 64%, 0.1);
    text-align: center;
    padding: 50px 142px;
}
.statistics-title{
    font-size: 38px;
    font-weight: bold;
}
.statistics-groups{
    display: flex;
    gap: 158px;
    margin-top: 40px;
}
.statistics-group{
    margin: 0 auto;

}
.stat-grp-no{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
}
.stat-grp-text{
    font-size: 20px;
}